* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.header {
  min-height: 3em;
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem
}

.score-section {
  display: flex;
  gap: 2em;
}